<% title 'Attendance Data' %>


<button class="accordion">Courses with Lowest Attendance </button>
<div class="panel">
<%= render 'shared/course_list', courses: @courses %>
</div>

<button class="accordion">Students with Lowest Attendance </button>
<div class="panel">

</div>

<button class="accordion">Teachers with Lowest Attendance </button>
<div class="panel">



</div>
