<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">All Active</a></li>
    <li role="presentation"><a href="#profile" aria-controls="teacher" role="tab" data-toggle="tab">Without Teachers</a></li>
    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Below Capacity</a></li>
  </ul>

<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home">
      <%= render 'shared/course_list', courses: @courses %>
    </div>
    <div role="tabpanel" class="tab-pane" id="teacher">
      <%= render 'shared/course_list', courses: @no_teacher %>
    </div>
    <div role="tabpanel" class="tab-pane" id="messages">
      <%= render 'shared/course_list', courses: @below_cap %>
    </div>
  </div>


