<ul class="nav nav-tabs" role="tablist">
    <% @subjects.each do |subject| %>
    <li role="presentation"><a href="#profile" aria-controls="<%= subject.name %>" role="tab" data-toggle="tab"><%= subject.name %></a></li>
    <% end %>
    <li role="presentation" class="active"><a href="#home" aria-controls="c#" role="tab" data-toggle="tab">Unassigned</a></li>
</ul>

<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="Unassigned">

    </div>
  <% @subjects.each do |subject| %>
    <div role="tabpanel" class="tab-pane" id="<%= subject.name %>">

    <%= render 'shared/volunteers', volunteers: (@volunteers = subject.teachers)%>
    </div>
  <% end %>
</div>


