<% title 'Attendance Data' %>
<%= render 'shared/dashboard_tabs' %>

<button class="accordion">Courses with Lowest Attendance </button>
<div class="panel">
<%= render 'shared/course_list', courses: @courses %>
</div>

<button class="accordion">Students with Lowest Attendance </button>
<div class="panel">
<%= render 'shared/students_list', students: @students %>
</div>

<button class="accordion">Teachers with Lowest Attendance </button>
<div class="panel">



</div>
