<% title 'Attendance Data' %>
<%= render 'shared/dashboard_tabs' %>

<button class="accordion">Attendance Accordian </button>
  <div class="panel">



  </div>

<button class="accordion">Attendance Accordian </button>
<div class="panel">



</div>

<button class="accordion">Attendance Accordian </button>
<div class="panel">



</div>
