<% title 'Attendance Data' %>
<%= render 'shared/dashboard_tabs' %>

<button class="accordion">Courses with Lowest Attendance </button>
  <div class="panel">



  </div>

<button class="accordion">Students with Lowest Attendance </button>
<div class="panel">



</div>

<button class="accordion">Teachers with Lowest Attendance </button>
<div class="panel">



</div>
