<% title 'Home' %>
<main>
 <input id="tab1" type="radio" name="tabs" checked>
  <label for="tab1">Courses</label>

  <input id="tab3" type="radio" name="tabs">
  <label for="tab3">Volunteers</label>

  <input id="tab4" type="radio" name="tabs">
  <label for="tab4">Attendance</label>


   <!--    courses section  -->
  <section id="content1">
    <%= render 'courses' %>
  </section>

    <!--       Volunteers section  -->

  <section id="content3">
    <%= render 'volunteers' %>
  </section>

<!--
            Attendance section  -->

  <section id="content4">
    <%= render 'attendance' %>
  </section>

</main>
