<% title 'Student Data' %>
<%= render 'shared/dashboard_tabs' %>
<button class="accordion">Student Accordian </button>
  <div class="panel">



  </div>

<button class="accordion">Student Accordian </button>
<div class="panel">



</div>

<button class="accordion">Student Accordian </button>
<div class="panel">



</div>
