
/*
Color Scheme is blue and green heavy. We should use the colors as gradients to achieve a smooth clean look*/
/*https://www.awwwards.com/sites/bird-by-muv-interactive*/
/*https://www.canva.com/learn/website-color-schemes/*/

$my-blue: #77C9D4;/*  "feather"*/
$my-green: #57BC90;  /*"Marine"*/
$my-test-green: #67D33B;
$my-gray: #A5A5AF;   /*"Sleek Gray"*/
$my-gray-border: rgba(165, 165, 175,0.4);   /*for borders*/
$my-light-gray: #F3F7F6; /*light gray for wrappers/backgrounds*/
$my-dkgreen: #015249;   /* "forest"*/
$my-pink: #FFC9D4;
$my-black: #25242B;
$stat-green: #75C549;

