.italic {
  font-style: italic;
  opacity: 0.6;
}

.bold {
  font-style: bold;
}

.wrapper, html {
  height: 100%;
  margin:0 auto;
  background-color: $my-light-gray;
}

.attendance-container {
  margin: 0 30px;
}
