.italic {
  font-style: italic;
  opacity: 0.6;
}

.bold {
  font-style: bold;
}

.body {
  background-color: $my-light-gray;
  font-family: $header-font;
}

.wrapper, html {
  margin:0 auto;

}

.better-container {
  margin: 0 30px;
}

.border-bottom {
  border-bottom: 1px solid $my-gray-border;
}


.border-right {
   border-right: 1px solid $my-gray-border;
}

.course-status {
  p {
    color: white;
    border-radius: 3px;
    padding: 2px 3px;
    margin-left: 10px;
    margin-bottom: 0px;
  }
}
.confirmed {
  background-color: $my-blue;
}
.pending {
  background-color: $my-green;
}

label, input {
  margin: 0;
}


.text-black {
  color: $my-black;

  &:hover {
    color: $my-black;
  }
}

.modal-body {
  .container {
    width: 100%;
  }
}

.form-container {
  margin: 0 auto;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.capital-gray {
  font-size: 10px;
  font-weight: 400;
  color: $my-gray;
  font-family: $gotham-bold !important;
}

