.course-information {
  background-color: $my-blue;
  width: 100%;
  color: black;
  padding-bottom: 20px;
  background-image: linear-gradient(to top right, $my-blue, #57BC90);
}

.control-buttons {
  display: flex;
  justify-content: space-around;
  padding: 15px;

}
