
  <div class="totals-container">
    <div class="total-card">
      <div class="center-totals">
        <p class="total-title"><%= total_title %></p>
        <div class="content-container">
          <p class="total-content no-margin-bottom"><%= total_content %></p>
      </div>
    </div>
  </div>
</div>


