<div class="totals-container">
  <div class="total-card">
    <p class="total-title"><%= total_title %></p>
    <div class="content-container">
      <p class="total-content"><%= total_content %></p>
      <p><%=  %></p>
    </div>
  </div>
</div>
