<% title 'Test Title' %>
<div class="dashboard-head">
  <%= render 'totals', total_title: 'Courses', total_content: @total_number_of_courses %>
  <%= render 'totals', total_title: 'Students', total_content: @total_number_of_students %>
  <%= render 'totals', total_title: 'Volunteers', total_content: @total_number_of_volunteers %>
</div>
