<% title 'Test Title' %>



<!--
<h1>I'm GothicPro</h1> -->
<!-- <h2>Im an h2</h2>
>>>>>>> origin/animationjs
<h3>I'm an h3</h3>
<p>Find me in app/views/page/home.html.erb</p>
<hr>
<h1 style="font-family: 'GothamPro-Bold">I'm GothamPro-Bold</h1>
<h2 style="font-family: 'GothamPro-Bold">Im an h2</h2>
<h3 style="font-family: 'GothamPro-Bold">I'm an h3</h3>
<p style="font-family: 'GothamPro-Bold">Find me in app/views/page/home.html.erb</p>
<hr>
<h1 style="font-family: 'GothamPro-Light">I'm GothamPro-Light</h1>
<h2 style="font-family: 'GothamPro-Light">Im an h2</h2>
<h3 style="font-family: 'GothamPro-Light">I'm an h3</h3>
<p style="font-family: 'GothamPro-Light">Find me in app/views/page/home.html.erb</p>
<hr>
<h1 style="font-family: 'GothamPro-Medium">I'm GothamPro-Medium</h1>
<h2 style="font-family: 'GothamPro-Medium">Im an h2</h2>
<h3 style="font-family: 'GothamPro-Medium">I'm an h3</h3>
<p style="font-family: 'GothamPro-Medium">Find me in app/views/page/home.html.erb</p>

<h1 style="color: #FF6131;">I'm the primary orange color</h1>
<h2 style="color: #4D8DF8;">Im the secondary blue color</h2>
<<<<<<< HEAD
<h3 style="color: #A2ACBD;">I'm the main gray color</h3> -->

<%= render 'student_rosters/create', students: Student.all, course: 1 %>

<h3 style="color: #A2ACBD;">I'm the main gray color</h3>
<p style="color: #25242B;">I'm the main black color for all text</p> -->
<%= link_to 'logout', destroy_user_session_path, method: 'delete'  %>

<%= link_to 'logout', destroy_user_session_path, method: 'delete'  %>

<div class="container" >
    <input type="file" name="file" id="file">
    <!-- Drag and Drop container-->
    <div class="upload-area"  id="uploadfile">
        <h1>Drag and Drop file here<br/>Or<br/>Click to select file</h1>
    </div>
</div>
