<div class="course-content-head">
  <h2><span id="results"><%= course_count %> <%= "Result".pluralize(course_count) %> Found</span></h2>
  <div class="left-header">
    <i class="fas fa-plus" data-toggle="modal" data-target="#courses"></i>
    <%= render 'shared/dropdown' %>
  </div>
</div>
