<h3>VOLUNTEERS</h3>
<% unless teacher.blank? || assistants.empty? %>
  <div class="volunteer-list">
    <div class="volunteer teacher">
      <% if teacher %>
        <div class="volunteer-name">
          <p class="no-margin-bottom"><%= "#{teacher.first_name} #{teacher.last_name}" %></p>
        </div>
        <i class="fas fa-address-card" data-toggle="tooltip" data-html="true" data-placement="top" title="<%= "#{teacher.phone}\n#{teacher.email}" %>"></i>
      <% end %>
    </div>
    <% unless assistants.empty? %>
      <% assistants.each do |assistant| %>
        <div class="volunteer assistant">
          <div class="volunteer-name">
            <p class="no-margin-bottom"><%= "#{assistant.first_name} #{assistant.last_name}" %></p>
          </div>
          <i class="fas fa-address-card" data-toggle="tooltip" data-html="true" data-placement="top" title="<%= "#{assistant.phone}\n#{assistant.email}" %>"></i>
        </div>
      <% end %>
    <% end %>
  </div>
<% else %>
  <p>You do not have any volunteers assigned to this course yet.</p>
<% end %>

