<% title 'Courses' %>
<div class="container">
  <h1 class="text-center">List of all courses</h1>
  <%= render 'shared/course_list', courses: @courses %>

</div>
  <%= render 'student_rosters/create', students: @students %>
