.attendance-sessions {
  display: flex;
  position: relative;
  margin-left: 170px; //

  .session-header {
    height: 150px;
    width: 30px;
    font-size: 12px;
    color: $my-gray;

    span {
      width:200px; /* same as height of .rotateObj */
      display:inline-block;
      -webkit-transform-origin:84px 70px;
      -ms-transform-origin:84px 70px;
      -o-transform-origin:84px 70px;
      transform-origin: 84px 70px;

      -webkit-transform:rotate(-75deg);
      -ms-transform: rotate(-75deg);
      -o-transform: rotate(-75deg);
      transform: rotate(-75deg);
    }
  }
}

    // -webkit-transform: rotate(90deg);
    // -webkit-transform-origin: left top;
    // -moz-transform: rotate(90deg);
    // -moz-transform-origin: left top;
    // -ms-transform: rotate(90deg);
    // -ms-transform-origin: left top;
    // -o-transform: rotate(90deg);
    // -o-transform-origin: left top;
    // transform: rotate(90deg);
    // transform-origin: left top;




.attendance-table {
  box-shadow: 1px 1px 3px $my-gray;
  margin: 50px 0;
  overflow-x: auto;

  .attendance-row {
    display: flex;
    align-items: center;
    height: 100%;

    &:nth-child(even) {
      background-color: white;
    }
    .attendance-student {
      flex: 0 0 150px;
      padding: 10px 15px;
      height: 100%;

      p {
        height: 100%;
        margin: 0;
      }
    }
    .attendance-session {
      display: flex;

      .attendance {
        background-color: $my-gray;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        margin-left: 15px;
      }
      .absent {
        background-color: $my-gray;
      }
      .present {
        background-color: $my-test-green;
      }
    }
  }
}

.border-right {
   border-right: 1px solid $my-gray; // fix this so its a vertical line (cant have padding)
}
