.attendance-table {
  display: flex;
  background-color: white;
  box-shadow: 2px 2px 2px $my-gray;
  margin-top: 50px;
  margin-bottom: 50px;
  border: 1px solid #E8E8E8;

  // margin: 50px 0;
  // overflow-x: auto;

  .student-col-header {

    width: 200px;

    .student-row {
      height: 34px;
      padding: 8px 15px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid #E8E8E8;

      p {
        font-size: 12px;
        padding-right: 10px;
        width: 125px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }

      .fas {
        color: $my-gray;

        &:hover {
          color: $my-blue;
        }
      }

      // &:last-child {
      //   border-bottom: none;
      // }
    }
  }
  .attendance-content {
    width: 100%;
    overflow-x:scroll;
    overflow-y:visible;

    .attendance-row {
      height: 34px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid #E8E8E8;
      padding-left: 15px;

      &:last-child {
        border-bottom: none;
      }

      .attendance-session {
        display: flex;

        .attendance {
          background-color: #D0D5DF !important;
          width: 12px;
          height: 12px;
          border-radius: 50%;
          margin-left: 15px;
          overflow: auto;

          &:first-child {
            margin-left: 0;
          }

        }

        .absent {
          background-color: $my-gray;
        }

        .present {
          background-color: $my-green;
        }
      }
    }
  }
// }

//     .attendance-student {
//       display: flex;
//       justify-content: space-between;
//       align-items: center;
//       flex: 0 0 150px;
//       padding: 10px 15px;

//       .attendance-header-text {
//         font-size: 13px;
//       }

//     }


// .attendance-sessions {
//   display: flex;
//   // padding-left: 170px;

//   .session-header {
//     height: 150px;
//     width: 30px;
//     font-size: 12px;
//     font-family: $gotham-medium;
//     font-weight: 400;
//     // color: $my-gray;

//     p {
//       width:200px; /* same as height of .session-header */
//       display:inline-block;
//       -webkit-transform-origin: 174px -37px;
//       -ms-transform-origin: 174px -37px;
//       -o-transform-origin: 174px -37px;
//       transform-origin: 174px -37px;

//       -webkit-transform:rotate(-75deg);
//       -ms-transform: rotate(-75deg);
//       -o-transform: rotate(-75deg);
//       transform: rotate(-75deg);
//     }
  // }
}
