.dashboard-head {
  display: flex;
  justify-content: center;


  .totals-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;

    .total-card {
      height: 100px;
      width: 100px;
      border-left: 1px solid $my-gray-border;
      padding: 10px 5px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .center-totals {

        p {
          margin: 0 !important;
        }

        .total-title {
          font-size: 14px;
        }
        .total-content {
          font-size: 45px;
          font-weight: 100;
        }
        .up {
          display: flex;
          align-content: center;
          color: $stat-green;

          p {
            padding-left: 3px;
          }
        }
      }
    }
  }
}

.up-arrow {
  width: 12px;
  height: 12px;
}

.charts {
  display: flex;
  flex-wrap: wrap;
}
