.courses-list {
  // display: flex;
}

.course-card {
  display: flex;
  padding: 0;    //look at this
  // height: 100px; //look at this
  box-shadow: 1px 1px 1px $my-gray;
  background-color: white;
  margin: 10px;
  border-radius: 3px;

  &:hover {
    text-decoration: none !important;
    transform-origin: center;
    transition: transform .2s cubic-bezier(0,0,.2,1),box-shadow .2s cubic-bezier(0,0,.2,1);
    box-shadow: 0 5px 10px $my-gray;
    transform: translateY(-2px);
  }

  .course-info {
    padding: 10px 0 5px 10px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .course-list-header {
      display: flex;
      align-items: center;
      h3 {
        font-weight: bold;
        margin: 0;
      }
    }

    .course-list-secondary {
      font-size: 10px;
      color: $my-gray;
      font-family: $gotham-bold;
      display: flex;
      justify-content: space-between;
    }
  }

  .volunteers {
    // width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;

    .volunteer-section {
      display: flex;
    }
    p {
      font-size: 12px;
    }
  }

  .location-container {
    flex: 1 1;
    margin: 10px 0 0 10px; // fix me
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;

    .location {
      padding: 2px 0 2px 5px;
      width: 125px;
      background-color: #647276;
      display: flex;
      align-items: center;

      .fas {
        color: white;
      }
    }

    p {
      font-size: 11px;
      font-family: $gotham-medium;
      color: white;
      padding-top: 2px;
      padding-left: 5px;
      border-radius: 1px;
    }

    .action-icons {
      margin-top: 5px;
      font-size: 14px !important;
      width: 125px;
      text-align: left;
      font-size: 14px !important;

    }
  }
}

.tooltip-inner {
    white-space:pre;
    max-width:none;
}


.confirmed {
  border-left: 5px solid $my-blue;
}

.pending {
  border-left: 5px solid $my-green;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.av {
  background-color: $my-blue;
  color: white;
  font-family: $gotham-light;
  width:14px;
  height: 14px;
  border-radius: 50%;
  display:flex;
  align-items: bottom;
  justify-content: center;
}

.teacher-av {
  background-color: $my-blue;
}
.assistant-av {
  background-color: $my-green;
}
.student-av {
  background-color: $my-gray;
}

.v-name {
  padding-left: 3px;
}

.col-xs-12, .col-md-6 {
  margin: 0;
  padding: 0;
}

