.course-content-head {
  display: flex;
  margin: 0 5px 0 8px;
  align-content: center;
  justify-content: space-between;

  .left-header {
    display: flex;
    align-items: center;
  }
  .sort {
    margin: 0 0 0 10px;
  }
  .fas {
    font-size: 22px;
    color: $my-gray;

    &:hover {
      color: $my-blue;
    }
  }
}

.courses-list {
  // display: flex;
}

.course-card {
  padding: 0;
  height: 100px;
  box-shadow: 1px 1px 1px $my-gray;
  background-color: white;
  margin: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
  -webkit-transition-property: color,background-color,-webkit-box-shadow,-webkit-transform;
  transition-property: color,background-color,-webkit-box-shadow,-webkit-transform;
  transition-property: color,background-color,box-shadow,transform;
  transition-property: color,background-color,box-shadow,transform,-webkit-box-shadow,-webkit-transform;
  border-radius: 4px;

  &:hover {
    text-decoration: none !important;
    transform-origin: center;
    transition: transform .2s cubic-bezier(0,0,.2,1),box-shadow .2s cubic-bezier(0,0,.2,1);
    box-shadow: 0 2px 2px $my-gray;
    transform: translateY(-1px);
  }

  .card-content {
     display: flex;
     padding: 20px 0 20px 20px;
     align-items: center;
     width: 100%;

    .course-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 155px;

      .course-list-header {
        display: flex;
        align-items: center;

        h3 {
          font-size: 18px;
          // font-weight: bold;
          margin: 0;
        }
      }
    }

    .volunteers {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100px;
      margin: 0 10px;

      .volunteer-section {
        display: flex;
      }
      p {
        font-size: 14px;
      }
    }

    .location-container {
      align-self: flex-start;
      flex: 1 1;
      margin-left: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;

      .location {
        padding: 4px 0 4px 6px;
        width: 155px;
        background-color: $my-gray;
        display: flex;
        align-items: center;

        .fas {
          color: white;
        }
      }

      p {
        font-size: 14px;
        font-family: $gotham-medium;
        color: white;
        padding-top: 2px;
        padding-left: 5px;
        border-radius: 1px;
      }

      .action-icons {
        margin-top: 10px;
        width: 155px;
        text-align: left;
        display: flex;
        justify-content: space-around;

        a {
          color: $my-gray;
        }
      }
    }
  }
}

.card-course-title {
  font-weight: 400 !important;
}

.assign-student svg, .assign-volunteer svg, .view-course svg {
  width: 30px;
  fill: $my-gray;

  &:hover {
    fill: $my-blue;
  }
}

.course-date {
  font-size: 14px;
}

.confirmed {
  border-left: 5px solid $my-blue;
}

.pending {
  border-left: 5px solid $my-green;
}

.av {
  background-color: $my-blue;
  color: white;
  font-family: $gotham-light;
  flex: 0 0 14px;
  height: 14px;
  border-radius: 50%;
  display:flex;
  align-items: center;
  justify-content: center;
}

.teacher-av {
  background-color: $my-blue;
}
.assistant-av {
  background-color: $my-green;
}
.student-av {
  background-color: $my-gray;
}

.v-name {
  padding-left: 3px;
}

.col-xs-12, .col-md-6 {
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 1170px) {
  .course-card {
    height: 110px;
  }
}

@media screen and (max-width: 990px) {
  .course-card {
    height: auto;
  }
}
