#submit {
  display: none;

}
.filter-form {
  background-color: white;
  font-family: $gotham-light;
  font-weight: bold;
  width: 200px;
  border: 1px solid #E8E8E8;
  .filter-container {

    .filter-header {
      padding: 5px 0 5px 10px;
      background-color: #E8E8E8;

      p {
        font-size: 16px;
        margin: 0;
      }
    }
    .element {
      padding-left: 20px;
      margin-top: 5px;
      display: flex;
      align-items: center;
      &:first-child {
        // padding-top: 5px; make this godamn thing work with 10px;
      }
      &:last-child {
        margin-bottom: 10px;
      }

      label {
        font-size: 14px;
        padding-left: 10px;
        margin: 0;
      }
      .checkbox {
        margin: 0;
        // display: none;
      }
      .filter {
        height: 20px;
        width: 20px;
        background-color: #E8E8E8;
        border-radius: 3px;
        border: 2px solid #ccc;

        &:hover {
          background-color: #ccc;
        }
      }
    }
  }
}
