.students {
  display: flex;
  flex-wrap: wrap;
  width: 600px;
  height: 600px;
  overflow: auto;
}
.age-gender {
  display: flex;
  justify-content: space-between;
  padding: 0px 5px;
}
.student_card {
  box-shadow: 1px 1px 1px 1px gray;
  margin: 5px;
  width: 90px;
  height: 90px;
}

.female {
    background: linear-gradient(to bottom right, $my-pink, $my-gray);
  }
.male {
    background: linear-gradient(to bottom right, $my-blue, $my-gray);
  }

.student-list {
  display: flex;
  justify-content: space-around;
}

.jsdragdrop {
  height: 700px;
}
