.students {
  display: flex;
  flex-wrap: wrap;
  width: 600px;
  height: 600px;
  overflow: auto;
}

.student_card {
  display: grid;
  grid-template-columns: 50% 1fr 1fr 1fr;
  grid-template-rows: 60% 40%;
  box-shadow: 0px 0px 2px 2px $my-light-gray;
  margin: 5px;
  width: 120px;
  height: 50px;
  //   #age-gender {
  //   grid-row: 2 / span 1;
  //   grid-column: 2 / span 3;
  //   padding: 3px;
  // }
}

.student_name {
  grid-row: 1 / span 1;
  grid-column: 1 / span 4;
  text-align: center;
}

#age-gender {
  grid-row: 2 / span 1;
  grid-column: 2 / span 3;
  padding: 3px;
  color: gray;
  text-decoration: none;
  p {
    font-size: 0.83em;
  }
}

.female {
  background-color: white;
  border-left: solid 2px $my-green;
}
.male {
  background-color: white;
  border-left: solid 2px $my-blue;
  }

.student-list {
  display: flex;
  justify-content: space-around;
}

.jsdragdrop {
  height: 700px;
}
