.volunteer-info {
  display: flex;
  align-items: center;
  padding-left: 30px;

  .volunteer-img {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color: $my-blue;

    p {
      color: white;
      font-family: $gotham-light;
      font-size: 22px;
      margin-bottom: 0;
    }
  }

  .volunteer {
    margin-left: 10px;
  }

}


