.volunteer-info {
  display: flex;
  align-items: center;
  padding-left: 30px;

  .teacher-img {
    align-self: flex-start;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color: $my-gray;
  }

  .volunteer {
    margin-left: 10px;
  }

}


