.volunteer-list {
  display: flex;
  flex-wrap: wrap;

  .volunteer {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 160px;
    border: 1px solid #E8E8E8;
    border-radius: 3px;
    box-shadow: 1px 3px 3px $my-gray;
    margin: 5px;
    padding: 3px 0;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    .volunteer-name {
      margin-left: 10px;
      padding-top: 2px;

      p {
        font-size: 12px;
        font-weight: bold;
      }
    }
    .fas {
      margin-right: 10px;

      &:hover {
        color: $my-blue;
      }
    }
  }

}

.teacher {
  border-left: 5px solid $my-blue !important;
}

.assistant {
  border-left: 5px solid $my-green !important;
}
