<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <%= simple_form_for [@volunteer_roster, @student] do |f| %>
      <%= f.input :student, collection: @students %>
      <%= f.button :submit %>
      <% end -%>
    </div>
  </div>
</div>
