<div class="container">

<!-- MOVE INTO COURSE_HEADER PARTIAL -->
<div class="row">
  <div class="col-xs-12 course_header">
    <h1> Course Name and main details</h1>
  </div>
</div>
<!-- MOVE INTO COURSE_HEADER PARTIAL -->
  <div class="row">
    <div class="col-xs-6 search_students">
      <p>search bar here</p>
    </div>

    <div class="col-xs-6 course-nav">
      <p>icons to navigate here</p>
    </div>
  </div>

<div class="row">
    <div class="col-xs-6 border">
        <p> render student index </p>
    </div>

    <div class="col-xs-6 border">
      <p> Max Students, Min Students, total students </p>
    </div>
</div>
<!--     <div class="col-xs-6 col-xs-offset-6 assigned-students">
      <p> assigned-students drag drop box </p>
    </div>
 -->
</div>




<%= render 'student_index', students: @students, course: @course %>

