<div class="container">
  <h1 class="text-center">Add Students</h1>
</div>
<div class="container student-list">
  <%= render 'create', students: @students, course: @course %>
  <div class="student-roster">
    <%= link_to "Back to Course Page", course_path(@course), class: "btn btn-primary brand-primary" %>
      <div class="assigned-students">

      </div>
      <div ID="flashes"></div>
  </div>
</div>
