<div class="container">
  <h1 class="text-center">Add Students</h1>
</div>
<div class="container student-list">
  <%= render 'create' %>
  <div class="student-roster">
    <%= link_to "Back to Course Page", course_path(@course), class: "btn btn-primary brand-primary" %>
    <div class="upload-area"  id="uploadfile">
      <input type="file" name="file" id="file">
      <!-- Drag and Drop container-->
        <h1>Add Students to <%= @course.subject.name %> Roster Here</h1>
        <% @course.students.each do |student| %>
        <%= student.name %>
        <% end %>
    </div>
  </div>
</div>
