<div class="container">
  <h1 class="text-center">Add Students</h1>
</div>
<div class="container student-list">
  <%= render 'create' %>
  <div class="student-roster">
    <div class="jsdragdrop" style="width:500px">
      <input type="file" name="file" id="file">
      <!-- Drag and Drop container-->
      <div class="upload-area"  id="uploadfile">
        <h1>Add Students to <%= @course.subject.name %> Roster Here</h1>
      </div>
      <%= link_to "Back to Course Page", course_path(@course), class: "btn btn-primary brand-primary" %>
    </div>
  </div>
</div>
